* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4f7fa;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.currency-converter {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input, select {
    padding: 10px;
    margin: 10px;
    width: 150px;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    font-size: 1.2;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 20px;

}

.history {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: left;
}

.history-item {
    margin: 5px 0;
}

.mode-toggle {
    margin-top: 20px;
    font-size: 1rem;
}

body.dark-mode{
    background-color: #333;
    color: #f4f7fa;
}
body.dark-mode .container {
    background-color: #444;
    color: #f4f7fa;
}
body.dark-mode button{
    background-color: #5cb85c;

}
body.dark-mode .history {
    background-color: #555;
}
body.dark-mode .mode-toggle label{
    color: #f4f7fa;
}

